body {
    font-size: 125%;
    font-family: 'Playfair Display', serif;
    background-color: peachpuff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    max-width: 1280px;
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    color: darkred;
    text-align: center;
    border-bottom: 1px solid darkred;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin: 10px 0;
    }

    button {
        margin: 20px 0;
        font-size: 1.2rem;
        padding: 5px 10px;
        max-width: 20%;
        background-color: darkred;
        color: peachpuff;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: rgb(74, 0, 0);
            box-shadow: 1px 1px 3px orangered, -1px -1px 3px orangered;
        }
    }

    textarea {
        background-color: rgb(255, 191, 136);
        border: none;
        font-family: 'Playfair Display', serif;
        padding: 10px;
        border-radius: 5px;
    }
    
}

footer {
    text-align: center;
    background-color: rgb(70, 0, 0);
    color: wheat;
    margin: 0;
    padding: 0;
    
    a {
        display: inline-block;
        color: wheat;
        padding: 10px 0;
        margin: 0;
        text-decoration: none;
    }
}